@import "../../css/shared";

/* ActionButton */

.ActionButton {
	padding: 0.75rem 1.5rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
	text-decoration: none !important;
	border-bottom: none;
	transition: all 0.2s ease-out;
	max-width: 50%;

	&.primary {
		color: var(--dark);
		background-color: var(--brand);

		&:hover {
			color: black;
			background-color: white;
		}
	}

	&.secondary {
		background: none;
		color: var(--brand);

		&::after {
			content: "›";
			font-size: 24px;
			margin-left: 5px;
		}

		&:hover {
			color: white;
		}
	}
}

@media only screen and (max-width: 480px) {
	.ActionButton {
		max-width: 100%;
		width: 100%;
		display: block;
		white-space: nowrap;
	}
}

/* Heading */

.Heading {
	font-size: 25px;
	color: var(--ifm-font-color-base);
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
}

/* Section */

.Section {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow-x: hidden;
}

.Section + .Section {
	border-top: 1px solid var(--ifm-table-border-color);
}

.Section.tint {
	background-color: var(--ifm-menu-color-background-active);
}

.Section.dark {
	background-color: var(--dark);
}

.Section p a {
	@extend %link-style;
}

html[data-theme="dark"] .Section p a {
	@extend %link-style-dark;
}

/* Two columns */

.TwoColumns {
	display: grid;
}

.TwoColumns .column {
	width: 100%;
}

.TwoColumns .column.first {
	grid-area: first;
}

.TwoColumns .column.last {
	grid-area: last;
}

@media only screen and (min-width: 961px) {
	.TwoColumns {
		max-width: 900px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "first last";
	}

	.TwoColumns.reverse {
		grid-template-areas: "last first";
	}

	.TwoColumns .column {
		max-width: 450px;
	}

	.TwoColumns .column.left {
		padding-right: 50px;
	}

	.TwoColumns .column.right {
		padding-left: 50px;
	}
}

@media only screen and (max-width: 960px) {
	.TwoColumns,
	.TwoColumns.reverse {
		grid-template-columns: 1fr;
		grid-template-areas: "first" "last";
	}

	.TwoColumns .column {
		padding: 0 4rem;
	}
}

@media only screen and (max-width: 480px) {
	.TwoColumns .column {
		padding: 0 1.25rem;
	}
}

/* Logo Animation */

.LogoAnimation {
	width: 350px;
}

@media only screen and (max-width: 760px) {
	.LogoAnimation {
		width: 100%;
	}
}

.LogoAnimation .screen {
	transition: all 850ms ease-in-out;
	stroke-opacity: 0;
	transform: scale(2.25, 1.33) rotate(0);
	stroke-width: 5px;
}

.LogoAnimation .background {
	fill: var(--dark);
}

.LogoAnimation .logoInner {
	transform: scale(1);
	transition: all 850ms ease-in-out;
	transition-delay: 50ms;
}

.LogoAnimation.mobile .logoInner,
.LogoAnimation.mobile2 .logoInner {
	transform: scale(0.4);
}

.LogoAnimation.desktop .logoInner {
	transform: scale(0.5);
}

.LogoAnimation.laptop .logoInner {
	transform: scale(0.35);
}

.LogoAnimation.full .screen {
	stroke-opacity: 0;
	transform: scale(2.25, 1.33) rotate(0);
	opacity: 1;
	transition: none;
}

.LogoAnimation.mobile .screen {
	stroke-opacity: 1;
	transform: scale(1) rotate(0);
	opacity: 1;
	stroke-width: 5px;
}

.LogoAnimation.desktop .screen {
	stroke-opacity: 1;
	transform: scale(1.125, 1.1) rotate(-90deg);
	opacity: 1;
	stroke-width: 8px;
}

.LogoAnimation.laptop .screen {
	stroke-opacity: 1;
	transform: scale(0.83) rotate(-90deg);
	opacity: 1;
	stroke-width: 5px;
}

.LogoAnimation.mobile2 .screen {
	stroke-opacity: 1;
	opacity: 1;
	stroke-width: 5px;
	transform: scale(1) rotate(-180deg);
}

.LogoAnimation.full2 .screen {
	stroke-opacity: 0;
	transform: scale(2.25, 1.33) rotate(-180deg);
}

.LogoAnimation:not(.mobile):not(.mobile2) .speaker {
	opacity: 0;
	transform: scaleX(0);
}

.LogoAnimation:not(.desktop) .stand {
	transform: scaleX(0);
}

.LogoAnimation:not(.laptop) .base {
	transform: scaleX(0);
}

.LogoAnimation .speaker,
.LogoAnimation .stand,
.LogoAnimation .base {
	transition: all 850ms ease-in-out;
}